<div class="hud" id="hud">
    <div class="title">
        <span class="title-text">WPlace Hud</span>
        <span class="byline">Made by Ema</span>
    </div>
    <div class="content">
        <div class="row">
            <div class="label">Level</div>
            <div class="value">-</div>
        </div>
        <div class="row">
            <div class="label">Droplets</div>
            <div class="value">-</div>
        </div>
        <div class="row">
            <div class="label">Pixels</div>
            <div class="value">-</div>
        </div>
        <div class="row">
            <div class="label">Pixels to next level</div>
            <div class="value">-</div>
        </div>
        <div class="row">
            <div class="label">Pixel to next upgrade(s)</div>
            <div class="value">-</div>
        </div>
    </div>
    <div class="row mt align-right">
        <button class="btn btn-toggle"></button>
    </div>
</div>